body {
    background-color: #f8f9fa;
}

.card {
    max-width: 600px;
    margin: auto;
    border-radius: 12px;
}

.card-header {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

button:hover {
    background-color: #003d99 !important;
}
